body {
    //--------General---------
    a{
        color:black;
        text-decoration: none;
        img{
            background: black;
        }
    }
    ul{
        padding: 0;
        list-style:none;
    }
}