@charset "UTF-8";
body {
  height: 2000px;
}

body a {
  letter-spacing: 0.6px;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

body header {
  background-color: rgba(0, 0, 0, 0.8);
  height: 45px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
}

body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header nav ul {
  margin: 0;
  list-style-type: none;
  padding: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

body header nav ul li a {
  line-height: 3.66667;
  font-weight: 400;
  font-size: 12px;
  color: #f5f5f7;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 80%;
}

body header nav ul li a:hover {
  opacity: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

body .unicef {
  height: 72px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f5f7;
}

body .unicef img {
  margin-right: 17px;
  display: inline-block;
}

body .unicef a {
  text-decoration: none;
  color: #2b7acb;
  font-size: 13px;
  margin-right: 10px;
}

body .unicef a::after {
  content: "↗";
}

body .unicef a:hover {
  text-decoration: underline;
}

body .collection .collectionItem {
  position: relative;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

body .collection .collectionItem > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

body .collection .collectionItem p {
  text-align: center;
  margin-top: 0;
  font-size: 28px;
  line-height: 1.10722;
  font-weight: 400;
  letter-spacing: .004em;
}

body .collection .collectionItem div {
  text-align: center;
}

body .collection .collectionItem div a {
  text-decoration: none;
  color: #2b7acb;
  margin: 20px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

body .collection .collectionItem h2 {
  text-align: center;
  font-size: 56px;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1.07143;
  font-weight: 600;
  padding-top: 30px;
}

body .collection .iphone13 {
  background-image: url("../images/hero_iphone13pro.jpg");
}

body .collection .iphoneSE {
  background-image: url("../images/hero_iphonese.jpg");
}

body .collection .iphoneSE h5 {
  font-size: 21px;
  line-height: 1.19048;
  font-weight: 600;
  letter-spacing: .011em;
  text-align: center;
  width: 100%;
  padding-top: 30px;
  margin: 0;
}

body .collection .iphoneSE .iphoneSElogo {
  background-image: url("../logos/logo_iphonese.png");
  height: 55px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0;
}

body .collection .movie {
  background-image: url(../images/hero_coda.jpg);
}

body .collection .movie span {
  padding: auto;
  border: 0;
  font-size: 21px;
  line-height: 1.19048;
  font-weight: 600;
  letter-spacing: .011em;
  color: #f5f5f7;
  display: table;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */